/* The side navigation menu */
.sidebar {
    margin-top: 1.5%;
    /* height: 100%;
    width: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: gray;
    overflow: auto;
  }

.sidebar .btn{
  margin: 10px;
  width: 100%;
  padding: 5px;
  color: black;
  font-weight: bold;
}

.btn:active{
  background-color: blue;
}

.sidebar #settingsBtn{
  margin-top: 100%;
  color: black;
  font-weight: bold;

}

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


  .publication-box {
    background-color: gray;
    /** border: 2px solid #000; **/
    padding: 20px;
  }